<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers</title>
</head> -->
<% layout("layouts/boilerplate") %>

<style>

</style>

<div id="filters" class="filters">
  <div class="filter">
    <div class="filter-icon"> <a href="/Web-Developers"><i class="fa-solid fa-fire fa-2x"></i> </a></div>
    <p>Web Developer</p>
  </div>
  <div class="filter">
    <div class="filter-icon"> <a href="/IT-person"><i class="fa-solid fa-fire fa-2x"></i> </a></div>
    <p>IT-Technician</p>
  </div>
  <div class="filter">
    <div class="filter-icon"> <a href="/UI-UX"><i class="fa-solid fa-palette fa-2x"></i> </a></div>
    <p>UI-Designer</p>
  </div>
  <div class="filter">
    <div class="filter-icon"> <a href="/civilEngineer"><i class="fa-solid fa-hammer fa-2x"></i> </a></div>
    <p>Civil-Engineer</p>
  </div>
</div>

    <div class="shell">
        <div class="container">
          <div class="row">
        <% for(let worker of allListings) { %>
            
            <div class="col-md-3">
              <div class="wsk-cp-product">
                <div class="wsk-cp-img">
                  <img src="<%=worker.image.url%>" alt="Product" class="img-responsive" />
                </div>
                <div class="wsk-cp-text">
                  <div class="category">
                    <span>&#x20B9; <%= worker.price %></span>
                  </div>
                  <div class="title-product">
                    <h3><%= worker.title %></h3>
                  </div>
                  <div class="description-prod">
                    <p><%= worker.description %></p>
                  </div>
                  <div class="card-footer">
                    <div class="wcf-left"><span class="price"> <%= worker.profession %> </span></div>
                    <div class="wcf-right"><a href="/listings/<%=worker._id%>" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i>Show More</a></div>
                  </div>
                </div>
              </div>
            </div>

            <% } %>
            
          </div>
        </div>
      </div>
      